@import url("https://use.typekit.net/iro6eoh.css");
@import url("https://use.typekit.net/iro6eoh.css");

body{
 overflow-x: hidden;
 background-color: black;
}
.aa{
  text-decoration: none;
}

.refwrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin-top: 20px;
}

.reflink{
  text-decoration: none;
}

.reflink:hover{
  text-decoration: underline;
}

.item{
  width: 200px;
}

.righty{
  display: flex;
  justify-content: flex-end;
}

.subtextwrap{
  display: flex;
}

.reff{
  font-size: 9pt;
}

.subtext{
  font-size: 8pt;
  font-style: italic;
  width: 120px;
}

p{
  font-family: input-mono,monospace;
  font-weight: 300;
  font-style: normal;
}

h2{
  font-family: input-mono,monospace;
  font-weight: 300;
  font-style: normal;
}

.ref{
  display: flex;
  width: 100vw;
  height: 200vh;
  /* background-color: black; */
  color: white;
  justify-content: center;
}

.center{
  margin-top: 10%;
  width: 40vw;
  height: 100vh;
}

.App{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.border{
    outline: 1px rgb(180, 180, 180) solid;
   animation: flicker 5s linear infinite;
}

.motion{
    opacity: 0;
}

/* @keyframes flicker {
    0% {outline: 1px rgb(0, 0, 0) solid;}
    1% {outline: 1px rgb(80, 80, 80) solid;}
    2% {outline: 1px rgb(0, 0, 0) solid;}
} */

@keyframes flicker {
    0% {
      opacity:0.1;
    }
    2% {
      opacity:1;
    }
    4% {
      opacity:0.1;
    }
    30%{
        opacity: 0.7;
    }
    70% {
      opacity:1;
    }
    100% {
      opacity:1;
    }
  }

  .hide1{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/reel.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 800px;
    width: 700px;
    z-index: -1;
  }
  
    .hvr1:hover + .hide1{
    position: absolute;
    top: 150px;
    left: 50vw;
    opacity: 100%;
  }

  .hide2{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/TAGS_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 600px;
    width: 400px;
    z-index: -1;
  }
  
    .hvr2:hover + .hide2{
    position: absolute;
    top: 300px;
    left: 6vw;
    opacity: 100%;
  }

  .hide3{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/owl.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 800px;
    width: 700px;
    z-index: -1;
  }
  
  .hvr3:hover + .hide3{
    position: absolute;
    top: 300px;
    left: 50vw;
    opacity: 100%;
  }
    
  .hide4{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/hnst.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 700px;
    width: 600px;
    z-index: -1;
  }
  
  .hvr4:hover + .hide4{
    position: absolute;
    top: 400px;
    left: 42vw;
    opacity: 100%;
  }
  
  .hide5{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/zwijg_1.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 500px;
    width: 400px;
    z-index: -1;
  }
  .hide9{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/werk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 800px;
    width: 700px;
    z-index: -1;
  }
  
  .hvr5:hover + .hide5{
    position: absolute;
    top: 650px;
    left: 5vw;
    opacity: 100%;
  }

  .hvr5:hover + .hide9{
    position: absolute;
    top: 300px;
    left: 50vw;
    opacity: 100%;
  }

  .hide6{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/werk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 800px;
    width: 700px;
    z-index: -1;
  }
  
  .hvr6:hover + .hide6{
    position: absolute;
    top: 450px;
    left: 50vw;
    opacity: 100%;
  }

  .hide7{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/NajibRotating.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 800px;
    height: 700px;
    width: 600px;
    z-index: -1;
  }
  
  .hvr7:hover + .hide7{
    position: absolute;
    top: 550px;
    left: 10vw;
    opacity: 100%;
  }

  .hide8{
    position: absolute;
    top: 0vh;
    left: 200vw;
    opacity: 0%;
     background-image: url(./utilities/humm.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 1000px;
    height: 1000px;
    width: 1000px;
    z-index: -1;
  }
  
  .hvr8:hover + .hide8{
    position: absolute;
    top: 800px;
    left: 32vw;
    opacity: 100%;
  }

  #mail{
    font-size: 12pt;
    margin-top: 80px;
  }

  #back{
    font-family: input-mono,monospace;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  }

  #back:hover{
    text-decoration: underline;
  }
  /*
.C{
  background-image: url(./assets/CV.gif);
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 450px;
  height: 60vh;
  width: 20vw;
  margin-right: 6%;
  margin-top: -10%;
}

  .hide1{
  position: absolute;
  top: -100vh;
  left: -42vw;
  opacity: 0;
   background-image: url(./assets/CV.gif);
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 450px;
  height: 60vh;
  width: 20vw;
}

  .hvr1:hover + .hide1{
  position: absolute;
  top: -5vh;
  left: -13vw;
  opacity: 100%;

}
  
  
  
  */